$font-primary: "Poppins", sans-serif;
$color-primary: #ffcd7a;
$text-primary: #1b2b5f;
$text-secondary: #81859c;
$pink-color: #ffc9c9;
$red-color: #8a323293;
$blue-color: #92b0d4;
$yellow-color: #e6c6a0;
$gray-color: #f2f1f6;
